html
  head
    meta(charset='utf8')
    link(rel="icon" href="/img/favicon.ico")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    link(rel="stylesheet", href="/css/global.css")
    block head
  body
    header
      nav.nav-home(onClick='window.location.href="/"')
      nav.nav-login
        a(href='/login') 로그인
      nav.nav-notice 
        a(href='/notice') 공지
    block body