html
  head
    meta(charset='utf8')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    link(rel="icon" href="/img/favicon.ico")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(src="/js/global.js")
    link(rel="stylesheet", href="/css/global.css")
    block head
  body
    header
      nav(onClick='window.location.href="/"')
        span.glyphicon.glyphicon-home(aria-hidden=true)
      nav.nav-login
        a(href='/login') 로그인
      nav.nav-notice 
        a(href='/notice') 공지
    article.body-main
      .bg-star
        div(style="background-image: url(\"/img/star-front.png\"); background-position: -8.34px -3.89px;")
        div(style="background-image: url(\"/img/star-back.png\"); background-position: -16.68px -7.78px; animation-delay: 2s;")
      block body