html
  head
    meta(charset='utf8')
    link(rel="icon" href="/img/favicon.ico")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    link(rel="stylesheet", href="/css/global.css")
    block head
  body
    block body