extends layout

block head
  title Aster - 로그인

block body
  .login-box
    input#input-email(type="email", name="email" placeholder='이메일')
    input#input-password(type="password", name="password" placeholder='비밀번호')