extends layout

block head
  link(rel="stylesheet", href="/css/portal.css")
  script(src="/js/portal.js")
  title Aster 우주 탐험 RPG

block body
  .div-title-portal
    h1 Aster
    h3 끝없는 우주탐험
  button.btn-start 시작