body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0rem;
  padding: 0rem;
  font-family: Roboto;
}

.body-main {
  width: 100%;
  height: 95%;
  margin: 0rem;
  padding: 0rem;
}

.bg-star {
  overflow: hidden;
}

.bg-star>div {
  position: absolute;
  left: 0;
  width: 100%;
  height:95%;
  background-size: 1500px 750px;
  transition: background-position 100ms ease;
  z-index: -1000000;
}

nav a {
  text-decoration: none;
  color: white
}

header nav {
  padding: 0rem 0.25rem;
  margin: 0rem;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #3498db;
}

header nav:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

header {
  width: 100%;
  display: flex;
  position: relative;
  height: 2rem;
}

.nav-home {
  flex-direction: row;
  background-image: url('/img/asteroid.png');
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
  padding: 0;
}

.nav-login, .nav-notice {
  flex-direction: row-reverse;
  padding: 0rem 0.4rem;
}