.div-title-portal {
  margin-left: 1rem;
  padding: 0rem;
}

.btn-start {
  background: transparent;
  border-radius: 1rem;
  border: 2px solid white;
  text-align: center;
  width: 15rem;
  height: 8rem;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10rem;
  margin-top: -7rem;
}